.container-fluid
  %center
    %br
    %br
    .row-fluid
      %h1 avneesh kohli
      %br
    .row-fluid
      = link_to image_tag('images/facebook.jpg'), 'http://www.facebook.com/avneeshk91'
      = link_to image_tag('images/twitter.jpg'), 'http://www.twitter.com/avneeshk91'
      = link_to image_tag('images/linkedin.jpg'), 'http://www.linkedin.com/in/avneeshk91'
      = link_to image_tag('images/blog.jpg'), 'http://blog.avneeshkohli.com/'
      %br
      .row-fluid
        %a.twitter-timeline{:href => 'https://twitter.com/avneeshk91', "data-widget-id" => "248635230724964352"}Tweets by @avneeshk91
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        %br
        
  